include ./mixins

doctype html
html(lang="en")
	head
		block title
			title Открытый Интенсив Как заговоритьна английском, зная всего 50 слов
		meta(charset="UTF-8")
		meta(name="viewport", content="initial-scale=1.0, width=device-width, user-scalable=no")
		meta(name="description", content="Успей забронировать своё место.")
		meta(name="it-rating", content="it-rat-8f86cffe2a74b4c44b0af9d98dd233a2")
		link(rel='stylesheet', href='libs/jquery.form-sender/css/intlTelInput.css')
		link(rel="shortcut icon" href="/favicons/favicon.ico", type="image/x-icon")
		link(rel="icon" href="/favicons/favicon.ico", type="image/x-icon")
	body(data-spy="scroll", data-target="#navbar", data-offset="50")
		block main
	