header
	.header
		.container
			.header__content
				.header__logo
					a(href="./")
				.header__menu#navbar
					.header_close#close
						span.top
						span.mid
						span.bottom
					ul.nav(role="tablist")
						li.active
							a(href="#section0", title='Главная') Главная
						li
							a(href="#section1", title='О нас') О нас
						li
							a(href="#section2", title='Программа') Программа
						li
							a(href="#section3", title='Что вы получаете') Что вы получаете
						li
							a(href="#section4", title='Ведущий') Ведущий
						li
							a(href="#section5", title='Отзывы') Отзывы
						li
							a(href="#section7", title='Регистрация') Регистрация
				.header_hamburger#hamburger
					span.top
					span.mid
					span.bottom