section.guarantee#section3
	.guarantee__elem.wow.flash(data-wow-duration='2s')
		.circle.circle--small.wow.bounceInLeft(data-wow-duration='2s', data-wow-delay='1s')
	.guarantee__elem-2
		.circle.circle--large.wow.fadeIn(data-wow-duration='1s')
			.circle.circle--small.wow.fadeIn(data-wow-duration='2s', data-wow-delay='.5s')
				.rocket.wow.bounceOutUp(data-wow-duration='3s', data-wow-delay='2s')
	.guarantee__elem-3.wow.rotateIn(data-wow-duration='2s')
		.circle
	.container
		.content-title.wow.flipInX(data-wow-duration='2s')
			i после интенсива вы
			h2 Гарантированно получите:
		.guarantee__block
			.guarantee__sign.wow.slideInLeft(data-wow-duration='1s') Guarantee
			ul.row
				li.col-sm-4
					.guarantee__box.wow.fadeIn(data-wow-duration='1s')
						span 1
						.guarantee__info
							p.
								У вас будет грамматическая база английского языка, каркас, с помощью которого английский выучить действительно легко все, что есть в английской грамматике)
				li.col-sm-4
					.guarantee__box.wow.fadeIn(data-wow-duration='1s', data-wow-delay='.5s')
						span 2
						.guarantee__info
							p.
								Вы поймете как учить слова правильно - так, чтобы они не забывались
				li.col-sm-4
					.guarantee__box.wow.fadeIn(data-wow-duration='1s', data-wow-delay='1s')
						span 3
						.guarantee__info
							p.
								Вы начнете говорить правильно, без русского акцента, а также научитесь понимать речь носителей
			a.btn.btn--main.wow.fadeIn(href="#", data-wow-duration='1s', data-wow-delay='1.5s', data-toggle='modal', data-target='#MainModal') Записаться на курс