section.members#section1
	.container
		.members__elem.wow.fadeInLeft(data-wow-duration='1s')
			.flag
		.members__elem-2.wow.fadeIn(data-wow-duration='1s', data-wow-delay='.5s')
			.circle.circle--large.wow.fadeIn(data-wow-duration='3s', data-wow-delay='.75s')
			.wave.wow.fadeIn(data-wow-duration='3s', data-wow-delay='1s')
		.content-title.wow.flipInX(data-wow-duration='2s')
			i с нами уже
			h2 13987 
				span участников
		.members__block
			.members__sign.wow.slideInLeft(data-wow-duration='1s') Hello
			.row
				.col-sm-6
					.members__left
						p.
							Вы всю жизнь учили английский, но так и не удалось понимать носителей? Не получается запоминать слова? Занимались с репетитором, но не получили ничего кроме потраченных денег?
				.col-sm-6
					.members__right
						p.
							Много путешествуете, но незнание языка осложняет вам жизнь? Ваша деятельность требует знания языка, но в никак не можете выкроить время на репетитора?