section.teacher#section4
	.teacher__elem.wow.fadeIn(data-wow-duration='1s')
		.triangle
			.triangle__inner
		.circle.wow.bounceIn(data-wow-duration='1s')
	.container
		.content-title.wow.flipInX(data-wow-duration='2s')
			i Ведущий педагог
			h2 Школы snap
		.teacher__block
			.teacher__sign.wow.slideInRight(data-wow-duration='1s') Leading
			.row
				.col-sm-6
					.teacher__left
						img.wow.fadeIn(data-wow-duration='2s', src=require("./components/images/teacher.png"), alt="")
				.col-sm-6
					.teacher__right
						.teacher__inner
							.teacher__title
								p.
									Ведущий педагог школы английского языка SNAP
								span Юрий Дружбинский
							.teacher__info
								p.
									Автор уникальной методики преподавания английского языка. Выпускник Иерусалимского педагогического колледжа им. Давида Елина и Монреальского университета McGil. Филолог, профессиональный переводчик.Преподаватель с тридцатилетним стажем. Автор учебников, которые стали бестселлерами в России, а также странах ближнего и дальнего зарубежья.