section.time#section6
	.content-title.wow.flipInX(data-wow-duration='2s')
		i успей зарегистрироваться!
		h2 До начала интенсива осталось:
	.time__elem.wow.flash(data-wow-duration='2s')
		.circle.wow.bounceInLeft(data-wow-duration='2s', data-wow-delay='1s')
	.time__block
		//- script(src="http://megatimer.ru/s/d31453143b2c430024a8237cd8d10aa4.js")
		//- script(src="http://megatimer.ru/s/03f0a0833f6947a326115b81061dea4f.js")
		script(src="http://megatimer.ru/s/03f0a0833f6947a326115b81061dea4f.js")